<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="app.jayang.icebr8k">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login_page"
            android:theme="@style/AppThemeMain"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
        </activity>
        <activity
            android:name=".UserProfilePage"
            android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>
        <activity
            android:name=".Homepage"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeMain"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
        </activity>
        <activity
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="user"
            android:name=".ResultActivity">
        </activity>

        <activity
            android:name=".SplashScreen"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="user"
            android:noHistory="true"

            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat">
        </activity>

        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE"/>
        <meta-data
            android:name="com.onesignal.NotificationAccentColor.DEFAULT"
            android:value="0373CA"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_api_key"/>

        <activity
            android:name=".signup"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
        </activity>
        <activity
            android:name=".SearchUser"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MyQR_Code"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ScannerActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SearchName"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".FriendRequestPage"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="user"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".FullImageView"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_full_image_view">
        </activity>

        <service
            android:name=".Utility.MyJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>

        <activity
            android:name=".UserChatActvity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="user"
            android:windowSoftInputMode="stateHidden">

            <intent-filter>
                <action
                    android:name="android.intent.action.PICK"/>
                <category
                    android:name="android.intent.category.DEFAULT"/>
                <category
                    android:name="android.intent.category.OPENABLE"/>
                <data android:mimeType="text/plain"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Feedback"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="user"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:name=".Leaderboard">
        </activity>
        <activity
            android:name=".QuestionActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="user">
        </activity>

        <activity android:name=".Reply"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:screenOrientation="user">
        </activity>

        <activity android:name=".Settings_Activity"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:screenOrientation="user">
        </activity>
        <activity
            android:name=".SearchableActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="user"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name=".SearchPeopleNearby"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="user">
        </activity>
        <activity
            android:name=".SearchResult"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="user">
        </activity>


        <activity
            android:name=".MediaViewActivty"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/PhotoViewTheme"
            android:screenOrientation="user"/>



        <provider
            tools:replace="android:authorities"
            android:name="android.support.v4.content.FileProvider"
            android:authorities="app.jayang.icebr8k.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                tools:replace="android:resource"
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/pick_file_paths" />
        </provider>
    </application>

</manifest>